.stm_rating_text {
    text-align: center;
    &__inner {
        position: relative;
        display: inline-block;
    }
    &__mark {
        color: #9191b1;
        font-size: 42px;
        strong {
            color: #fff;
            font-size: 60px;
        }
    }
    &__title {
        color: #9191b1;
    }
    &__image {
        position: absolute;
        left: -60px;
        top: 50%;
        width: 39px;
        margin-top: -30px;
        &_last {
            left: auto;
            right: -60px;
            transform: scale(1, -1) rotate(180deg);
        }
    }
}

@media only screen and (max-width: 768px) {
    .stm_rating_text__image {
        left: -50px;
        &_last {
            right: -50px;
            left: auto;
        }
    }
}
.stm-rating_wrap.style_2 {
    margin-bottom: 30px !important;
    padding: 13px 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: -moz-linear-gradient(-45deg, #b44fff 0%, #273dff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b44fff 0%,#273dff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b44fff 0%,#273dff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44fff', endColorstr='#273dff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .stm-rating_wrap__rating__bar {
        display: inline-block;
        position: relative;
        &::after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 15px;
            letter-spacing: 3px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f006\f006\f006\f006\f006";
            color: #ffd400;
        }
        .stm-rating_wrap__rating_bar__filled {
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            max-width: 100% !important;
            &::after {
                content: "\f005\f005\f005\f005\f005";
                color: #ffd400;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 15px;
                letter-spacing: 3px;
            }
        }
    }
    .stm-rating_wrap__label {
        padding: 4px 10px;
        position: absolute;
        min-width: 146px;
        transform: rotate(-45deg);
        left: -45px;
        top: 14px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        background: -moz-linear-gradient(to right, #0095ff 0%, #26ebdc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(to right, #0095ff 0%,#26ebdc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #0095ff 0%,#26ebdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .stm-rating_wrap__rating {
        font-size: 30px;
        font-weight: 500;
    }
}

  